body {
    margin: 0;
    background-color: rgb(34, 175, 128);
}

.main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    width: 800px;
    height: 1000px;
    border: solid 5px red;
    position: relative;
}

.dealer {
    /* display: flex; */
    align-items: center;
    border: solid 5px rgb(68, 80, 172);
    width: 100%;
    height: 410px;
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-top: 50%; */
    margin-bottom: 15px;
    height: 125px;
    width: inherit;
    border: solid 5px blue;
    position: relative;
}

.player {
    /* display: flex; */
    align-items: center;
    border: solid 5px rgb(68, 80, 172);
    width: 100%;
    /* height: 40%; */
    height: 410px;
    position: relative;
}


/* *********CENTER ELEMENT********** */

.msg-center {
    display: flex;
    align-items: center;
}

.msg-place-bet {
    font-size: 25px;
    font-weight: bolder;
    color: rgb(8, 52, 35);
    position: absolute;
    left: 120px;
    /* display: none; */
    visibility: hidden;
}

.btn-buyin-convert {
    font-size: 25px;
    background-color: #ff3869;
    font-weight: bolder;
    color: rgb(8, 52, 35);
    padding: 5px;
    border: none;
    border-radius: 20%;
    position: absolute;
    left: 80px;
    cursor: pointer;
    /* display: 0; */
    visibility: visible;
}

.input-buyin-value {
    /* display: inline-block; */
    font-size: 20px;
    width: 80px;
    padding: 5px;
    text-align: right;
    /* margin-top: 38px; */
    border: solid 2px #ff3869;
    position: absolute;
    left: 225px;
    /* bottom: 15px; */
    /* cursor: pointer; */
    /* display: none; */
    visibility: visible;
}

.input-buyin-value::-webkit-outer-spin-button,
.input-buyin-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 10px;
}

.btn-token-place {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: purple;
    border: solid 12px #800080;
    border-style: dashed;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
    background-color: #e4cfb8;
    /* margin-left: 20px; */
    visibility: visible;
}

.btn-double {
    position: absolute;
    left: 350px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: solid 15px #e4cfb8;
    border-style: dashed;
    padding: 20px;
    border-radius: 50%;
    background-color: #e4cfb8;
    cursor: pointer;
    display: none;
}

.bet-amount {
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    position: absolute;
    left: 500px;
}


/* **BANK MODAL******** */

.bank-modal-on {
    background-color: beige;
    border: solid 5px red;
    width: 600px;
    height: 400px;
    border: solid 5px red;
    position: relative;
}

.bank-balance {
    margin-left: 20px;
    font-size: 25px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
}

.value {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.btn-show-buyin-msg {
    margin-left: 20px;
    font-size: 20px;
    border-radius: 25px;
    background-color: #07341e;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-token-10 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: solid 15px #1d1da7;
    border-style: dashed;
    padding: 18px;
    border-radius: 50%;
    background-color: #6b6bd8;
    /* background: linear-gradient(top left, #4646d7, #1d1da7); */
    margin-left: 20px;
    cursor: pointer;
}

.btn-token-20 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    border: solid 15px #07341e;
    border-style: dashed;
    padding: 18px;
    border-radius: 50%;
    background-color: #3ea268;
    /* background: linear-gradient(top left, #4646d7, #1d1da7); */
    margin-left: 15px;
    cursor: pointer;
}

.btn-token-50 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    border: solid 15px #5a121c;
    border-style: dashed;
    padding: 18px;
    border-radius: 50%;
    background-color: #ff3869;
    /* background: linear-gradient(top left, #4646d7, #1d1da7); */
    /* margin-left: 55px; */
    cursor: pointer;
}

.btn-token-100 {
    /* text-align: center; */
    font-size: 28px;
    font-weight: bold;
    color: white;
    border: solid 15px #664c09;
    border-style: dashed;
    padding: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 65%;
    background-color: #c3985c;
    /* background: linear-gradient(top left, #4646d7, #1d1da7); */
    margin-left: 15px;
    cursor: pointer;
}

.net-gain-loss {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/* *****VERICAL RIGHT**********  */

.vertical-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 5px yellow;
    position: absolute;
    left: 810px;
    width: 150px;
    height: 1000px;
}

.deal {
    border: solid 5px blue;
    border-radius: 20%;
    height: 75px;
    width: 125px;
    font-size: 30px;
    background-color: #6565d3;
    text-align: center;
    color: white;
    padding: 15px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    visibility: visible;
}

.btn-hold {
    border: solid 5px black;
    border-radius: 20%;
    height: 75px;
    width: 125px;
    font-size: 30px;
    background-color: rgb(11, 45, 11);
    text-align: center;
    color: white;
    padding: 15px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    visibility: hidden;
}

.player-score {
    display: inline-block;
    border: solid 5px purple;
    position: relative;
    top: 300px;
    width: 150px;
    height: 100px;
}

.player-score-value {
    background-color: white;
    font-size: 25px;
    /* margin-left: -10px; */
    margin-right: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 50%;
    padding: 20px;
}

.player-score-label {
    margin: auto;
    font-size: 23px;
    font-weight: bold;
    color: black;
}

.dealer-score {
    display: inline-block;
    border: solid 5px purple;
    position: relative;
    top: -350px;
    width: 150px;
    height: 100px;
}

.dealer-score-value {
    background-color: white;
    font-size: 25px;
    /* margin-left: -10px; */
    margin-right: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 50%;
    padding: 20px;
}

.dealer-score-label {
    margin: auto;
    font-size: 23px;
    font-weight: bold;
    color: black;
}


/* *****VERICAL LEFT**********  */

.vertical-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 5px yellow;
    position: absolute;
    left: -170px;
    width: 150px;
    height: 1000px;
}

.btn-hit {
    border: solid 5px black;
    border-radius: 20%;
    height: 75px;
    width: 125px;
    font-size: 30px;
    background-color: rgba(130, 11, 33, 0.967);
    text-align: center;
    color: white;
    padding: 15px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    visibility: hidden;
}

.btn-reset {
    border: solid 5px black;
    border-radius: 20%;
    height: 75px;
    width: 125px;
    font-size: 30px;
    background-color: purple;
    text-align: center;
    color: white;
    padding: 15px;
    position: absolute;
    top: 5%;
    cursor: pointer;
    visibility: visible;
}