* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top: 10px;
}

h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top: 60px;
}

.dealerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    border: solid 5px blue;
    background-color: rgb(148, 212, 164);
}

.dealerElements {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: bisque;
    font-size: 20px;
}

.dealContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.dealerHide1 {
    display: none;
}

.dealerHide2 {
    display: none;
}

.dealerHide3 {
    display: none;
}

.dealerHideTotal {
    display: none;
}

#shuffleBtn {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgb(109, 7, 58);
    color: white;
    font-size: 40px;
}

#dealBtn {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgba(248, 248, 21, 0.995);
    color: black;
    font-size: 40px;
}

.playerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    border: solid 5px black;
    background-color: rgb(148, 212, 164);
}

.playerElements {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: bisque;
    font-size: 20px;
}

.hitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.hidden1 {
    display: none;
}

.hidden2 {
    display: none;
}

.hidden3 {
    display: none;
}

#hitBtn {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgb(151, 21, 14);
    color: white;
    font-size: 40px;
}

#holdBtn {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgb(4, 51, 13);
    color: white;
    font-size: 40px;
}