* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color: rgb(148, 212, 164);
}

h1 {
    position: absolute;
    padding-bottom: 300px;
    font-size: 30px;
    color: black;
    /* text-align: center; */
}

h2 {
    position: absolute;
    padding-top: 40px;
    font-size: 20px;
    color: black;
    text-align: center;
    /* padding-top: 15px; */
}

.dealer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    border: solid 5px blue;
}

.freakingHeader {
    font-size: 20px;
    text-align: center;
}

.dealer-hand {
    align-content: center;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: auto;
    border: solid 5px blue;
}

.dealerTotal {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: bisque;
    font-size: 20px;
}


/* .dealerElements {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: bisque;
    font-size: 20px;
} */


/* .dealContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
} */

.cardsDown {
    width: 125px;
    height: 200px;
}

.cardsUp {
    width: 125px;
    height: 200px;
}

.hidden {
    display: none;
}

.dealerHide1 {
    display: none;
}

.dealerHide2 {
    display: none;
}

.dealerHide3 {
    display: none;
}


/* .dealerHideTotal {
    display: none;
} */

.messageContainer {
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    z-index: 100;
}

.modal {
    position: absolute;
    height: 125px;
    /* padding-left: 75px; */
    padding-top: 45px;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    background-color: rgb(94, 10, 10);
    /* padding: 5rem; */
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.hiddenDealerWins {
    display: none;
    align-items: center;
}

.hiddenBusted {
    display: none;
    align-items: center;
}

.hiddenBlackJack {
    display: none;
    align-items: center;
}

.hiddenYouWin {
    display: none;
    align-items: center;
}

#shuffleBtn {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgb(109, 7, 58);
    color: white;
    font-size: 40px;
}

#dealBtn {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgba(248, 248, 21, 0.995);
    color: black;
    font-size: 40px;
}

#bustedDealerWins {
    font-size: 30px;
}

.playerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    border: solid 5px black;
    background-color: rgb(148, 212, 164);
}

.playerElements {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: bisque;
    font-size: 20px;
}

.hitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.hidden1 {
    display: none;
}

.hidden2 {
    display: none;
}

.hidden3 {
    display: none;
}

#hitBtn {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgb(151, 21, 14);
    color: white;
    font-size: 40px;
}

#holdBtn {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgb(4, 51, 13);
    color: white;
    font-size: 40px;
}